@import url("./format.css");

body {
    background-color: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    font-family: "Consolas", monospace !important;
}

* {
    font-family: "Consolas", monospace !important;
    transition: all 0.25s ease !important;
}

sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;

    background-color: rgb(50, 50, 50);
}

sidebar > nav {
    display: flex;
    flex-direction: column;

    padding: 2vh;
}

sidebar > nav > hr {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
}

sidebar > nav > a {
    font-size: 24px;
}

sidebar > nav > section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

sidebar > nav > section > li {
    cursor: pointer;
    padding: 0 0.5vw 0 0.5vw;
    border-radius: 4px;

    transition: all 0.125s ease !important;
}

sidebar > nav > section > li:hover {
    background-color: rgba(255, 255, 255, 0.125);
}

content {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 85%;
    height: 100%;
    left: 15%;
    top: 0;

    padding: 2vh;
    padding-top: 0;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: rgb(40, 40, 40);
}

content > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    padding: 8px;
    border-radius: 4px;
}

content > hr {
    position: relative;
    right: 2%;
    width: 95%;
}

code {
    position: relative;

    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.0625);
    border-radius: 4px;

    width: fit-content;
    padding: 1vh;
    margin-top: 1vh;
}

code > div {
    display: flex;
    flex-direction: row;
}

code > div > div.Keyword,
code > div > div.FunctionConnection {
    color: rgb(189, 120, 221);
}

code > div > div.Object,
code > div > div.Number {
    color: rgb(209, 154, 102);
}

code > div > div.String {
    color: rgb(152, 195, 121);
}

code > div > div.Function {
    color: rgb(97, 175, 239);
}

code > div > div.Comment {
    color: rgb(100, 100, 100);
}

code > div > div.Variable {
    color: rgb(224, 108, 117);
}

code > div > div:not(:first-child):not([nomargin]):not([right]) {
    margin-left: 8px;
}

code > div > div:not([class]) {
    color: rgb(200, 200, 200);
}

code > div > div[right] {
    margin-left: 0;
    margin-right: 8px;
}

code > button {
    position: absolute;
    right: 0;
    top: 0;

    padding-right: 2vw;
    padding-left: 2vw;

    margin: 0.5vh;
}